SourceCode/Studio/EndpointDesign/GeneratedCode/EndpointDesignerSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="EndpointDesignSchema" targetNamespace="http://schemas.microsoft.com/dsltools/EndpointDesign" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/EndpointDesign" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- EndpointModel -->
  <xsd:element name="endpointModel" type="EndpointModel" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EndpointModel">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: EndpointModelHasEvents -->
          <xsd:element name="events" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EndpointModelHasEvents</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="endpointModelHasEvents" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EndpointModelHasEvents needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: EndpointModelHasEndpoints -->
          <xsd:element name="endpoints" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EndpointModelHasEndpoints</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="endpointModelHasEndpoints" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EndpointModelHasEndpoints needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: EndpointModelHasCommands -->
          <xsd:element name="commands" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EndpointModelHasCommands</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="endpointModelHasCommands" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EndpointModelHasCommands needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EndpointModel Moniker -->
  <xsd:element name="endpointModelMoniker" type="EndpointModelMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EndpointModelMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EndpointModel instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SendEndpoint -->
  <xsd:element name="sendEndpoint" type="SendEndpoint" substitutionGroup="endpoint" />
  <xsd:complexType name="SendEndpoint">
    <xsd:annotation>
      <xsd:documentation>Elements embedded in the model. Appear as boxes on the diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Endpoint">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: SendEndpointEmitsCommands -->
          <xsd:element name="emittedCommands" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of SendEndpointEmitsCommands</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="sendEndpointEmitsCommands" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of SendEndpointEmitsCommands needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SendEndpoint Moniker -->
  <xsd:element name="sendEndpointMoniker" type="SendEndpointMoniker" substitutionGroup="endpointMoniker" />
  <xsd:complexType name="SendEndpointMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SendEndpoint instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="EndpointMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- NamedElement -->
  <xsd:element name="namedElement" abstract="true" type="NamedElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="NamedElement" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- NamedElement Moniker -->
  <xsd:element name="namedElementMoniker" abstract="true" type="NamedElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="NamedElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for NamedElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SendReceiveEndpoint -->
  <xsd:element name="sendReceiveEndpoint" type="SendReceiveEndpoint" substitutionGroup="endpoint" />
  <xsd:complexType name="SendReceiveEndpoint">
    <xsd:complexContent>
      <xsd:extension base="Endpoint">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: SendReceiveEndpointEmitsEvents -->
          <xsd:element name="emittedEvents" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of SendReceiveEndpointEmitsEvents</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="sendReceiveEndpointEmitsEvents" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of SendReceiveEndpointEmitsEvents needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: SendReceiveEndpointEmitCommands -->
          <xsd:element name="emittedCommands" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of SendReceiveEndpointEmitCommands</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="sendReceiveEndpointEmitCommands" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of SendReceiveEndpointEmitCommands needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SendReceiveEndpoint Moniker -->
  <xsd:element name="sendReceiveEndpointMoniker" type="SendReceiveEndpointMoniker" substitutionGroup="endpointMoniker" />
  <xsd:complexType name="SendReceiveEndpointMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SendReceiveEndpoint instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="EndpointMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Event -->
  <xsd:element name="event" type="Event" substitutionGroup="namedElement" />
  <xsd:complexType name="Event">
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: EventsAreProcessedBySendReceiveEndpoints -->
          <xsd:element name="processingEndpoints" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EventsAreProcessedBySendReceiveEndpoints</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="eventsAreProcessedBySendReceiveEndpoints" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EventsAreProcessedBySendReceiveEndpoints needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Event Moniker -->
  <xsd:element name="eventMoniker" type="EventMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="EventMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Event instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Command -->
  <xsd:element name="command" type="Command" substitutionGroup="namedElement" />
  <xsd:complexType name="Command">
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: CommandIsProcessedBySendReceiveEndpoint -->
          <xsd:element name="processingEndpoint" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of CommandIsProcessedBySendReceiveEndpoint</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="commandIsProcessedBySendReceiveEndpoint" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of CommandIsProcessedBySendReceiveEndpoint needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Command Moniker -->
  <xsd:element name="commandMoniker" type="CommandMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="CommandMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Command instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Endpoint -->
  <xsd:element name="endpoint" abstract="true" type="Endpoint" substitutionGroup="namedElement" />
  <xsd:complexType name="Endpoint" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Type -->
        <xsd:attribute name="type" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Endpoint Moniker -->
  <xsd:element name="endpointMoniker" abstract="true" type="EndpointMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="EndpointMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Endpoint instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EndpointModelHasEvents -->
  <xsd:element name="endpointModelHasEvents" type="EndpointModelHasEvents" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EndpointModelHasEvents">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Event -->
          <xsd:element ref="event" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EndpointModelHasEvents Moniker -->
  <xsd:element name="endpointModelHasEventsMoniker" type="EndpointModelHasEventsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EndpointModelHasEventsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EndpointModelHasEvents instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EndpointModelHasEndpoints -->
  <xsd:element name="endpointModelHasEndpoints" type="EndpointModelHasEndpoints" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EndpointModelHasEndpoints">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Endpoint -->
          <xsd:element ref="endpoint" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EndpointModelHasEndpoints Moniker -->
  <xsd:element name="endpointModelHasEndpointsMoniker" type="EndpointModelHasEndpointsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EndpointModelHasEndpointsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EndpointModelHasEndpoints instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EndpointModelHasCommands -->
  <xsd:element name="endpointModelHasCommands" type="EndpointModelHasCommands" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EndpointModelHasCommands">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Command -->
          <xsd:element ref="command" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EndpointModelHasCommands Moniker -->
  <xsd:element name="endpointModelHasCommandsMoniker" type="EndpointModelHasCommandsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EndpointModelHasCommandsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EndpointModelHasCommands instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CommandIsProcessedBySendReceiveEndpoint -->
  <xsd:element name="commandIsProcessedBySendReceiveEndpoint" type="CommandIsProcessedBySendReceiveEndpoint" substitutionGroup="core:modelElement" />
  <xsd:complexType name="CommandIsProcessedBySendReceiveEndpoint">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end SendReceiveEndpoint -->
          <xsd:element ref="sendReceiveEndpointMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CommandIsProcessedBySendReceiveEndpoint Moniker -->
  <xsd:element name="commandIsProcessedBySendReceiveEndpointMoniker" type="CommandIsProcessedBySendReceiveEndpointMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="CommandIsProcessedBySendReceiveEndpointMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CommandIsProcessedBySendReceiveEndpoint instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EventsAreProcessedBySendReceiveEndpoints -->
  <xsd:element name="eventsAreProcessedBySendReceiveEndpoints" type="EventsAreProcessedBySendReceiveEndpoints" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EventsAreProcessedBySendReceiveEndpoints">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end SendReceiveEndpoint -->
          <xsd:element ref="sendReceiveEndpointMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EventsAreProcessedBySendReceiveEndpoints Moniker -->
  <xsd:element name="eventsAreProcessedBySendReceiveEndpointsMoniker" type="EventsAreProcessedBySendReceiveEndpointsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EventsAreProcessedBySendReceiveEndpointsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EventsAreProcessedBySendReceiveEndpoints instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SendEndpointEmitsCommands -->
  <xsd:element name="sendEndpointEmitsCommands" type="SendEndpointEmitsCommands" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SendEndpointEmitsCommands">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Command -->
          <xsd:element ref="commandMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SendEndpointEmitsCommands Moniker -->
  <xsd:element name="sendEndpointEmitsCommandsMoniker" type="SendEndpointEmitsCommandsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SendEndpointEmitsCommandsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SendEndpointEmitsCommands instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SendReceiveEndpointEmitsEvents -->
  <xsd:element name="sendReceiveEndpointEmitsEvents" type="SendReceiveEndpointEmitsEvents" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SendReceiveEndpointEmitsEvents">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Event -->
          <xsd:element ref="eventMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SendReceiveEndpointEmitsEvents Moniker -->
  <xsd:element name="sendReceiveEndpointEmitsEventsMoniker" type="SendReceiveEndpointEmitsEventsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SendReceiveEndpointEmitsEventsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SendReceiveEndpointEmitsEvents instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SendReceiveEndpointEmitCommands -->
  <xsd:element name="sendReceiveEndpointEmitCommands" type="SendReceiveEndpointEmitCommands" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SendReceiveEndpointEmitCommands">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Command -->
          <xsd:element ref="commandMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SendReceiveEndpointEmitCommands Moniker -->
  <xsd:element name="sendReceiveEndpointEmitCommandsMoniker" type="SendReceiveEndpointEmitCommandsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SendReceiveEndpointEmitCommandsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SendReceiveEndpointEmitCommands instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>

